# RDT Client from Docker download
rdt-client

# Ignore config aside from the rclone folder
config/*
config/rclone/*
!config/rclone/.gitkeep

# Custom scripts
scripts/*
scripts/**/*
!scripts/**/.gitkeep

# Private and combined environment files
private.env
.env

# Running server files
media-server

# Extra build scripts
radarr/post-build.sh
sonarr/post-build.sh